# For local dev, Vite proxy will forward /_api -> http://localhost:4300
# If you want to bypass proxy, set this to the backend origin.
VITE_API_BASE_URL=http://localhost:4300
VITE_WS_URL=ws://localhost:4300
